<img src="https://s3.amazonaws.com/latex-and-jeeps-photos-development/random/logo.png" class="center">
<br>
<br>
<a href="/albums" class="center">View Albums</a>
<a href="/albums/new" class="center">Create a New Album</a>